/*!
 * Custom audio player.
 */
.audio-player {
    background-color: $color-white;
    border: 1px solid $color-divider;
    padding: 10px;
    position: relative;
    @include clearfix();

    .column {
        padding: 0;

        @media (min-width: map-get($breakpoints, small)) {
            &:first-child {
                width: percentage(1/4);
            }

            &:last-child {
                width: percentage(3/4);
            }
        }
    }

    .audio-player-content {
        padding: 20px 10px 10px;
    }

    .audio-player-title {
        margin-bottom: 5px;
    }

    .audio-player-meta {
        margin-bottom: 10px;
    }

    .audio-player-button {
        background-image: url('../images/pause.png');

        .svg & {
            background-image: url('../images/pause.svg');
        }
    }

    .mejs-container.mejs-audio {
        height: 30px !important;
        margin-bottom: 20px;

        .mejs-controls {
            background: none;
            border: 0;
            height: 30px !important;
            
            .mejs-time-rail {
                margin: 0;
                
                span {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .mejs-time {
                position: absolute;
                top: 100%;
                height: auto;
                padding: 0;
                margin: 0;

                * {
                    font-family: $font-family;
                    font-size: $font-size;
                    line-height: 1;
                }
            }
        }
    }

    @media (min-width: map-get($breakpoints, small)) {
        .column {
            &:first-child {
                width: percentage(1/3);
            }

            &:last-child {
                width: percentage(2/3);
            }
        }

        .audio-player-content {
            padding: 20px 30px;
        }

        .audio-player-title {
            @include ellipsis();
        }
    }

    @media (min-width: map-get($breakpoints, large)) {
        .column {
            &:first-child {
                width: percentage(1/4);
            }

            &:last-child {
                width: percentage(3/4);
            }
        }
    }
}