/*!
 * Buttons
 */
.button {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-family: $font-secondary;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.125em;
    line-height: 1.5;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;

    &:focus {
        outline: 0;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: $color;
        border-color: $color;
        color: $color-accent;
        text-decoration: none;
    }
}

.button-primary {
    background-color: $color-accent;
    border-color: $color-accent;
    color: $color-white;
}

.button-secondary {
    background-color: $color-white;
    border-color: $color-divider;
    color: $color;
}

.button-large {
    font-size: 14px;
    line-height: 1.4;
    padding: 15px 45px;
}

.button-small {
    font-size: 10px;
    padding: 5px 15px;
}

.button-block {
    display: block;
    width: 100%;
    text-align: center;

    + .button-block {
        margin-bottom: 0.5rem;
    }
}