/*!
 * Container
 */
.container,
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: map-get($gutters, xsmall);
    padding-right: map-get($gutters, xsmall);
    @include clearfix();
}

.container {
    @each $container in map-keys($containers) {
        @media (min-width: map-get($breakpoints, $container)) {
            @if map-get($breakpoints, $container) > 0 {
                max-width: map-get($containers, $container) + map-get($gutters, $container);
                padding-left: floor(map-get($gutters, $container) / 2);
                padding-right: floor(map-get($gutters, $container) / 2);
            }
        }
    }
}

/*!
 * Row
 */
.row {
    margin-left: floor(map-get($gutters, xsmall) / -2);
    margin-right: floor(map-get($gutters, xsmall) / -2);
    @include clearfix();

    @each $breakpoint in map-keys($breakpoints) {
        @if map-get($breakpoints, $breakpoint) > 0 {
            @media (min-width: map-get($breakpoints, $breakpoint)) {
                margin-left: floor(map-get($gutters, $breakpoint) / -2);
                margin-right: floor(map-get($gutters, $breakpoint) / -2);
            }
        }
    }

    &.row-collapsed {
        margin-left: 0;
        margin-right: 0;
    }
}

/*!
 * Columns
 */
.column {
    float: left;
    min-height: 1px;
    padding-left: floor(map-get($gutters, xsmall) / 2);
    padding-right: floor(map-get($gutters, xsmall) / 2);
    position: relative;
    width: 100%;

    @each $breakpoint in map-keys($breakpoints) {
        @if map-get($breakpoints, $breakpoint) > 0 {
            @media (min-width: map-get($breakpoints, $breakpoint)) {
                padding-left: floor(map-get($gutters, $breakpoint) / 2);
                padding-right: floor(map-get($gutters, $breakpoint) / 2);
            }
        }
    }

    .row-collapsed & {
        padding-left: 0;
        padding-right: 0;
    }
}

@at-root {
    @each $breakpoint in map-keys($breakpoints) {
        $key: map-get($breakpoints, $breakpoint);

        @if $key > 0 {
            @media (min-width: map-get($breakpoints, $breakpoint)) {
                @include grid-items($breakpoint, $grid-columns);
            }
        }
        
        @else {
            @include grid-items($breakpoint, $grid-columns);
        }
    }
}