/*!
 * Site branding.
 */
.site-brand {
    text-align: center;
}

.site-title {
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.28em !important;
    margin: 0;
    padding-top: 60px;
    position: relative;

    &:before {
        content: "\e906";
        display: block;
        font-family: 'Writsy' !important;
        font-size: 50px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        letter-spacing: 0;
        margin-left: -25px;
        position: absolute;
        top: 0; left: 50%;
        speak: none;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    a {
        display: inline-block;
        color: inherit;
        text-decoration: none;
        position: relative;

        &:hover {
            color: inherit !important;
        }

        span {
            display: inline-block;
            padding: 0 10px 0 20px;
            position: relative;

            &:before,
            &:after {
                background: $color-accent;
                content: '';
                height: 1px;
                width: 40px;
                top: 50%;
                display: block;
                position: absolute;
            }

            &:before {
                left: -40px;
            }

            &:after {
                right: -40px;
            }
        }
    }
}

.site-logo {
    display: inline-block;
    margin-bottom: 1.333em;

    &:last-child {
        margin-bottom: 0;
    }
}

.site-description {
    color: #ABABAB;
    font-style: italic;
    letter-spacing: 0.2em;
    margin-top: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}