/*!
 * Site footer.
 */
 .site-footer {
    background-color: $color-white;
}

/*!
 * Footer widgets.
 */
.footer-widgets {
    border-top: 1px solid #EFEFEF;
    padding: map-get($gutters, xsmall) 0;

    @media (min-width: map-get($breakpoints, small)) {
        padding: map-get($gutters, small) 0;
    }

    @media (min-width: map-get($breakpoints, medium)) {
        padding: 0;
    }

    .footer-widgets-left,
    .footer-widgets-middle,
    .footer-widgets-right {
        padding: map-get($gutters, xsmall) 0;
        position: relative;

        @media (min-width: map-get($breakpoints, small)) {
            padding: map-get($gutters, small) 0;
        }

        @media (min-width: map-get($breakpoints, medium)) {
            height: 100%;
            padding: map-get($gutters, medium) * 2 0;
        }

        @media (min-width: map-get($breakpoints, large)) {
            padding: map-get($gutters, large) * 2 0;
        }
    }

    .footer-widgets-middle {
        @media (min-width: map-get($breakpoints, medium)) {
            border-left: 1px solid #EFEFEF;
            border-right: 1px solid #EFEFEF;
            padding: map-get($gutters, medium) * 2;
        }

        @media (min-width: map-get($breakpoints, large)) {
            padding: map-get($gutters, large) * 2;
        }
    }

    .footer-widgets-left {
        @media (min-width: map-get($breakpoints, medium)) {
            padding-right: map-get($gutters, medium) * 2;
        }

        @media (min-width: map-get($breakpoints, large)) {
            padding-right: map-get($gutters, large) * 2;
        }
    }

    .footer-widgets-right {
        @media (min-width: map-get($breakpoints, medium)) {
            padding-left: map-get($gutters, medium) * 2;
        }

        @media (min-width: map-get($breakpoints, large)) {
            padding-left: map-get($gutters, large) * 2;
        }
    }

    .widget {
        &:last-child {
            margin-bottom: 0;
        }

        .widget-title {
            margin: 0 0 map-get($gutters, xsmall);

            @media (min-width: map-get($breakpoints, small)) {
                margin-bottom: map-get($gutters, small);
            }

            @media (min-width: map-get($breakpoints, medium)) {
                margin-bottom: map-get($gutters, medium);
            }

            @media (min-width: map-get($breakpoints, large)) {
                margin-bottom: map-get($gutters, large);
            }
        }
    }
}

/*!
 * Instagram gallery.
 */
.instagram-gallery {
    overflow: hidden;
    position: relative;

    + .site-info {
        border-top: none;
    }

    .instagram-feeds {

    }

    .instagram-feed {
        width: percentage(1/2);

        img {
            width: 100%;
        }
    }

    .instagram-follow-button {
        background-color: #FFFFFF;
        border-radius: 50%;
        color: $color;
        font-size: 11px;
        font-weight: 500;
        top: 50%;
        left: 50%;
        margin: -60px 0 0 -60px;
        height: 120px;
        width: 120px;
        display: block;
        position: absolute;
        text-align: center;
        text-decoration: none;

        > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .fa {
            display: block;
            font-size: 20px;
            line-height: 1;
            margin-bottom: 8px;
        }
    }
}

@media(min-width: map-get($breakpoints, small)) {
    .instagram-gallery {
        .instagram-feed {
            width: percentage(1/4);
        }
    }
}

@media(min-width: map-get($breakpoints, medium)) {
    .instagram-gallery {
        .instagram-feed {
            width: percentage(1/6);
        }
    }
}

@media(min-width: map-get($breakpoints, large)) {
    .instagram-gallery {
        .instagram-feed {
            width: percentage(1/6);
        }

        .instagram-follow-button {
            font-size: 14px;
            height: 170px;
            margin: -85px 0 0 -85px;
            width: 170px;

            .fa {
                font-size: 28px;
            }
        }
    }
}

@media(min-width: 1920px) {
    .instagram-gallery {
        .instagram-feed {
            width: percentage(1/8);
        }
    }
}

/*!
 * Site info.
 */
.site-info {
    border-top: 1px solid #EFEFEF;
    text-align: center;
    padding: 30px 0;

    p {
        margin-bottom: 0;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}