form input,
form select {
    padding: 2px 6px !important;
    font-size: 15px !important
}

.greenbar p,
.opennow p,
.redbanner p {
    vertical-align: middle;
    text-align: center
}

.annuity-main,
.form-btn,
.greenbar p,
.opennow p,
.redbanner p,
footer {
    text-align: center
}

.container,
.span12 {
    max-width: 1200px
}

#Main {
    margin: 0 auto
}

#FormContainer {
    margin: 0 0 0 3%;
    width: 290px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .49)
}

form {
    padding: 5px 15px 15px
}

form label {
    display: block;
    margin-bottom: 3px;
    line-height: 16px;
    color: #010101
}

form input {
    width: 244px;
    border: 2px solid #ccc !important
}

form select {
    width: 260px;
    height: 28px;
    border: 2px solid #ccc
}

form #phonearea,
form #phoneprefix {
    width: 48px;
    margin-right: 9px;
    border: 2px solid #ccc
}

form #phonesuffix {
    width: 90px;
    border: 2px solid #ccc
}

form p {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600
}

form button {
    display: block;
    margin: 20px auto 10px;
    background-image: url(../images/JG-LP-C1-Form-FormSubmit.png);
    width: 230px;
    height: 50px;
    border: none
}

#LimitedTimeOffer,
#OtherPaymentStreams {
    padding: 30px 20px 20px 40px;
    background-color: #f1f1f1
}

#GetTheCash {
    padding: 30px 20px 20px 40px;
    background-color: #fff
}

#Greenbar2 .greenbar,
.greenbar {
    background-color: #063
}

.content {
    min-height: 310px;
    font-size: 12px;
    color: #000
}

.content h3 {
    font-size: 17px;
    line-height: 26px;
    color: #063
}

.greenbar,
.greenbar a {
    color: #fff
}

#Greenbar2 .greenbar {
    height: 71px;
    color: #fff
}

.greenbar p {
    display: block;
    padding: 20px 0;
    line-height: 32px
}

.opennow p {
    padding-left: 100px;
    height: 71px;
    display: table-cell
}

.greenbar span {
    display: block
}

.redbanner {
    background-image: url(../images/JG-LP-C1-Form-RedBackground.png)
}

.redbanner p {
    padding: 0 46px 0 29px;
    width: 325px;
    height: 71px;
    font-size: 28px;
    display: table-cell
}

footer {
    margin: 20px auto;
    font-size: 14px;
    color: #979595
}

footer p:first-child {
    color: #aeafaf
}

a {
    text-decoration: none !important
}

.lRed {
    color: #f89999
}

.form-btn {
    background-image: url(https://offers.annuities.net/images/hover-effect.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff !important;
    padding: 30px 0
}

.form-btn:hover {
    background-image: url(https://offers.annuities.net/images/JG-LP-C1-Form-FormSubmit.png)
}

.form-btn a {
    color: #fff !important;
    font-weight: 700;
    display: block
}

.f-out,
.is-annuity {
    color: #063;
    line-height: 34px
}

.an-next {
    font-size: 23px
}

.p-text-pop {
    margin-top: 10px !important
}

.banner-cont .span8 {
    width: 65%
}

.banner-cont .span4 {
    width: 32%
}

.is-annuity {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    margin-bottom: 20px;
    margin-top: 25px
}

.f-out {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 31px
}

.span12 {
    width: 96.5%
}

.container,
.row.span12.logo-c img {
    width: 100%
}

.logo-c .span4 {
    width: 33.3%
}

.logo-box {
    padding: 5px 0
}

@media screen and (max-width:1083px) {
    .banner-cont .span8 {
        width: 60.5%
    }
}

@media screen and (max-width:980px) {
    .logo-c .span4 {
        margin: 0;
        padding: 0
    }

    .banner-cont .span8 {
        width: 55.5%
    }

    .common {
        margin-bottom: 15px
    }
}

@media screen and (max-width:800px) {
    .span12 {
        margin-left: 0
    }

    .banner-cont .span8 {
        width: 50.5%
    }

    .logo-box {
        padding: 5px 0;
        text-align: center
    }
}

@media screen and (max-width:770px) {
    .banner-cont .span8 {
        width: 100%;
        margin-bottom: 15px
    }

    .banner-cont .span4 {
        width: 100%;
        margin: 0 auto
    }

    #FormContainer {
        display: block;
        margin: 0 auto
    }

    .logo-c .span4 {
        width: 100%
    }

    .greenbar p {
        padding: 20px 10px
    }
}