@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333
}

.clr {
    clear: both
}

.tc {
    text-align: center
}

.fl {
    float: left
}

.fr {
    float: right
}

.p-wrapper {
    width: 100%;
    padding: 10px 0;
    background: #f5f5f5
}

.p-container {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
}

/*.banner-col {	background:rgba(0, 0, 0, 0) url(../images/banner-investment.png) no-repeat scroll right top}*/
.content-section h1 {
    color: #002046;
    font-size: 33px;
    font-weight: 700;
    margin: 0 auto 45px;
    max-width: 100%;
    padding-bottom: 5px;
    padding-top: 25px;
    text-align: center
}

.content-section h1 span {
    border-bottom: 2px solid #ffa200;
}

.bullet-points {
    padding-left: 105px;
    padding-bottom: 100px
}

.bullet-points ul {
    margin: 0;
    padding: 0
}

.bullet-points ul li {
    list-style-image: url(../images/listing.png);
    margin: 0;
    padding: 5px 13px
}

.bullet-points ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #434343
}

.content {
    padding: 0 20px;
    margin-top: -50px;
    padding-left: 30px;
    position: relative;
    z-index: 666;
    font-family: 'PT Sans', sans-serif;
}

.receive-form-col {
    float: left;
    max-width: 560px;
    width: 100%
}

.formbox {
    float: right;
    max-width: 350px;
    width: 100%
}

.complete-receive {
    font-size: 24px;
    line-height: 0;
    margin-bottom: 20px;
    padding-top: 10px
}

.free-annuity {
    font-size: 30px;
    font-weight: 700
}

.report-include {
    padding: 20px;
    border: 2px solid #ffa200;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 20px;
    color: #4069a4;
    line-height: 30px
}

.get-now {
    font-size: 24px;
    color: #002046;
    font-weight: 700;
    margin-bottom: 15px
}

.get-now-list ul {
    margin: 0;
    padding: 0;
    margin-left: 20px
}

.get-now-list ul li {
    margin: 0;
    padding: 5px 0;
    font-size: 18px;
    color: #343434;
    list-style-image: url(../images/get-listing.png);
    line-height: 30px
}

.formbox {
    margin-left: 10px;
    margin-bottom: 20px
}

.formbox h3 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-weight: 700;
    margin: 0
}

.form-box-main {
    background: #d4e0f2;
    padding: 20px 10px 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

.quotes-form label {
    display: inline-block;
    margin-bottom: 10px;
    max-width: 100px;
    width: 100%;
    font-size: 16px;
    color: #0d0d0d;
    text-align: left;
    font-weight: 700
}

.quotes-form label span {
    color: #ff8a00;
    text-align: left
}

.quotes-form input[type="text"] {
    border: 1px solid #cacaca;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px; /*	max-width:137px;*/
    max-width: 220px;
    padding: 4px 10px;
    width: 100%;
    font-size: 15px;
}

.privacy-text {
    text-align: center;
}

.privacy-text a {
    color: #000;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.quotes-form select {
    border: 1px solid #cacaca;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 220px;
    padding: 4px 10px;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
}

.quotes-form select option {
    font-size: 15px;
}

.cls-btn-row {
    text-align: center;
}

.cls-btn {
    display: inline-block;
    background: #ffa200;
    padding: 8px 10px;
    border-radius: 5px;
    min-width: 100px;
    font-size: 16px;
    color: #fff;
    text-decoration: none !important;
}

.cls-btn:hover {
    color: #fff !important;
    background: #002046;
}

.quotes-form a {
    background: #ffa200 none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 8px;
    color: #2e2e2e;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
    max-width: 230px;
    padding: 3px 0;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none
}

.quotes-form a:hover {
    background: #002046;
    color: #fff;
    text-decoration: none
}

.quotes-form {
    text-align: center;
    margin-bottom: 5px;
}

.value-privacy {
    margin-bottom: 20px;
    padding-right: 135px;
    text-align: right
}

.value-privacy a {
    color: #343434;
    font-size: 14px
}

.income-rider {
    color: #383838;
    font-size: 14px;
    margin: 5px 0 30px
}

/*Ticket #834*/
.income-txt-mrgin12 {
    margin: 10px 0 0;
}

.annuities-info h4 {
    border-bottom: 2px solid #ffa200;
    color: #002e5c;
    font-size: 30px;
    font-weight: 700;
    margin: 10px auto 30px;
    max-width: 100%;
    padding-bottom: 10px;
    text-align: center
}

.annuities-info .thumbnail_box {
    margin-right: 0
}

.annuities-info .blog-content {
    float: left;
    width: 85%
}

.annuities-info {
    padding-left: 4%;
    padding-right: 4%
}

.slug {
    color: #4069a4;
    float: right;
    font-size: 24px;
    font-style: normal;
    padding-right: 0;
    padding-top: 24px;
    font-family: 'PT Sans', sans-serif;
}

.header {
    padding: 10px 20px 20px;
}

.content-section { /*padding: 0 20px;*/
}

.logo {
    float: left;
    width: 312px
}

.blog-section {
    margin-bottom: 20px
}

.thumbnail_box {
    float: left;
    width: 10%
}

.annuities-info .blog-content {
    float: left;
    width: 85%
}

.blog-content h2 {
    color: #002e5c;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0
}

.blog-content p {
    color: #2c2c2c;
    font-size: 14px;
    text-align: left;
    margin: 0;
    padding: 0
}

.security-certificate {
    padding: 20px 0;
    text-align: center
}

.security-certificate img {
    display: inline-block;
    float: none;
    margin-left: 15px
}

.footer-decription {
    color: #a6a6a6;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%
}

.footer-decription p {
    display: inline-block;
    width: 80%
}

.p-footer-navigation {
    margin-bottom: 10px;
    text-align: center
}

.center {
    text-align: center
}

.p-footer-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.p-footer-navigation ul li {
    border-right: 1px solid;
    color: #2d2d2d;
    display: inline-block;
    font-size: 14px;
    padding: 0 5px
}

.p-footer-navigation ul li a {
    color: #2d2d2d;
    display: block;
    text-decoration: none
}

.p-footer-navigation ul li:last-child {
    border-right: medium none
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 20px;
    margin-top: 20px
}

.p-copy-right {
    color: #545454;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center
}

.color-ph-vl {
    color: #0d0d0d;
    font-size: 14px;
    margin-top: 20px;
    text-align: center
}

.mobo-logo {
    display: none
}

.mobo-btn {
    display: none
}

/******************/
.form-box-main input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px #ffa200;
    border: 1px solid #ffa200;
    outline: 0;
}

.form-box-main select:focus {
    box-shadow: 0 0 5px #ffa200;
    border: 1px solid #ffa200;
    outline: 0;
}

.p-widget-box {
    font-family: 'Montserrat', sans-serif;
    max-width: 200px;
    width: 100%;
}

.p-widget-headig {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 5px;
    background: #003062;
    color: #fff;
    text-align: center;
    line-height: 24px;
}

.p-widget-start {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #6b6b6b;
    line-height: 15px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.p-widget-body {
    background: #f1f1f1;
    padding: 8px 15px;
}

.p-widget-form input {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    width: 92%;
    padding: 5px 4%;
    border: 0;
}

.p-widget-form select {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    padding: 5px 4%;
    border: 0;
}

.p-widget-form a {
    display: block;
    font-size: 17px;
    color: #6b2b00;
    text-transform: uppercase;
    border: 1px solid #6b2b00;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: -0.5px;
    margin-top: 5px;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none !important; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa100+0,fd9702+29,f78008+74,f5770a+100 */
    background: #ffa100; /* Old browsers */
    background: -moz-linear-gradient(top, #ffa100 0%, #fd9702 29%, #f78008 74%, #f5770a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffa100 0%, #fd9702 29%, #f78008 74%, #f5770a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffa100 0%, #fd9702 29%, #f78008 74%, #f5770a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa100', endColorstr='#f5770a', GradientType=0); /* IE6-9 */
}

.p-widget-form a i {
    margin-left: 13px;
    position: absolute;
    top: 8px;
}

.p-widget-form a:hover {
    background: #003062;
    color: #fff;
    border: 1px solid #003062;
}

.p-widget-guarantee {
    font-size: 11px;
    color: #6b6b6b;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 16px;
}

.p-heading-col {
    color: green;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 5px;
}

.form-col {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

/*********************************************ticket 626***************************/
.trust-logos-img {
    display: inline-block;
    margin: 0 0 20px 10px;
    text-align: center;
    width: 80px;
}

.trust-logos-img img {
    width: 100%;
}

.logo-trust {
    float: none !important;
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    padding-top: 20px;
}

.popup .close {
    z-index: 999 !important;
    right: 35px;
}

.pop-up-logo {
    text-align: center;
}

.pop-up-link {
    font-family: arial;
    font-size: 21px;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    color: #000;
}

.input-box #best_number {
    color: black !important;
}

/*## Ticket #833 by Abdul*/
.icome-rider {
    margin-top: -25px;
    padding: 0 20px;
    font-size: 14px;
}




@media (max-width: 1090px) {
    .p-container {
        padding: 20px;
        width: 90%
    }

    .add-image img {
        width: 100%
    }

    .receive-form-col {
        max-width: 450px
    }

    .logo {
        width: 32%;
    }

    .p-trusted-source {
        margin-left: 57px;
        width: 346px
    }

    .p-contact-add {
        float: right
    }

    .p-form-box-main {
        width: 100%
    }

    .p-form-inner {
        width: 90%
    }

    .p-certified-logos {
        width: 100%
    }

    .p-top-annity-text {
        width: 100%
    }

    .p-annuiut-clients-inner-imgs {
        display: inline-block
    }

    .p-detail-desc {
        font-size: 12px
    }

    .p-arrow-img {
        top: 330px
    }

    .p-form-heading {
        max-width: 700px;
        font-size: 32px !important
    }

    .p-form-heading-sub {
        max-width: 700px;
        font-size: 16px !important
    }

    .p-form-box {
        padding-left: 45px
    }

    .p-quote-btn {
        max-width: 320px
    }

    .p-form-left {
        width: 66.2%
    }

    .p-annuiut-clients-inner-imgs img {
        width: 100%
    }

    .p-container {
        width: 100%;
        padding: 0
    }

    .p-trusted-source {
        font-size: 14px;
        margin-left: 15px !important;
        text-align: center;
        width: 50% !important
    }

    .p-contact-add {
        margin-right: 10px !important
    }

    .p-quote-btn {
        height: auto !important;
        min-height: auto !important
    }

    .p-quote-btn {
        height: auto !important;
        min-height: auto !important;
        width: auto !important
    }

    .p-quote-btn a {
        padding: 5px 0 10px
    }

    .p-form-left1 {
        width: 66.5%
    }

    .p-form-right {
        min-height: 521px;
        width: 29%;
        float: left
    }

    .content-section h1 span {
        line-height: 50px;
    }

    .p-container {
        width: 94%;
        padding: 10px;
    }

    .banner-section img {
        width: 100%;
    }
}

@media (max-width: 1010px) {
    .logo {
        width: 183px;
        margin-right: 20px
    }

    .p-trusted-source {
        font-size: 14px;
        margin-left: 15px;
        text-align: center;
        width: 40%
    }

    .p-have-question {
        font-size: 13px
    }

    .p-form-left {
        float: none;
        width: 100%
    }

    .p-certified-img {
        text-align: left
    }

    .p-why-choose {
        text-align: left;
        background-position: left bottom
    }

    .p-why-choose2 {
        text-align: left;
        background-position: left bottom
    }

    .p-form-inner {
        width: 80%
    }

    .p-container {
        padding: 0 !important
    }

    .p-form-heading {
        max-width: 96% !important;
        padding: 0 2% !important
    }

    .p-form-heading-sub {
        max-width: 96% !important;
        padding: 0 2% !important
    }

    .p-container {
        width: 94%
    }

    .p-annuiut-clients-inner-imgs img {
        width: 100%
    }

    .formbox {
        max-width: 330px !important
    }

    .receive-form-col {
        max-width: 400px !important
    }

    .p-main-text-main-heading {
        color: #002e5c;
        font-size: 22px;
        font-weight: 700;
        text-align: center
    }

    .blog-content {
        float: left;
        padding-left: 5% !important;
        width: 85% !important
    }

    .logo-trust {
        margin-top: 0;
    }

    .quotes-form label {
        max-width: 100%;
    }

    .quotes-form input[type="text"] {
        max-width: 100%;
    }

    .quotes-form select {
        max-width: 100%;
    }

    .trust-logos-img {
        width: 97px;
    }


}

@media (max-width: 865px) {
    .receive-form-col {
        max-width: 360px !important
    }

    .formbox {
        float: right;
        max-width: 250px !important;
        width: 100%
    }

    .quotes-form label {
        max-width: 100% !important
    }

    .quotes-form input[type="text"] {
        max-width: 100% !important
    }

    .quotes-form select {
        border: 1px solid #cacaca;
        border-radius: 8px;
        display: inline-block;
        margin-bottom: 10px;
        max-width: 100% !important;
        padding: 3px 10px;
        width: 100%
    }

    .logo {
        width: 42%;
        text-align: left;
    }

    .p-trusted-source {
        font-size: 18px;
        margin-bottom: 10px;
        margin-left: 15px;
        text-align: center;
        width: 100% !important
    }

    .p-contact-add {
        float: none;
        text-align: center;
        width: 100% !important
    }

    .skype-call {
        text-align: center
    }

    .p-form-inner {
        width: 80% !important
    }

    .trust-logos-img {
        display: inline-block;
        margin: 10px 0 10px 10px;
        text-align: center;
        width: 65px;
    }

    .trust-logos-img img {
        width: 100%;
    }
}

@media (max-width: 855px) {
    .p-form-left1 {
        width: 65.6%
    }

    .footer-decription p {
        width: 100%
    }

    .p-container {
        padding: 0 2% !important
    }

    .content-section h1 {
        font-size: 30px
    }
}

@media (max-width: 769px) {

}

@media (max-width: 755px) {
    .p-form-left1 {
        width: 100%
    }

    .p-form-right {
        padding: 2%;
        width: 96%
    }

    .p-form-label-box {
        width: 45% !important
    }

    .slug {
        padding-right: 10px
    }

    .icome-rider {
        margin-top: 0;
        padding-left: 10px;
    }
}

@media (max-width: 720px) {
    .receive-form-col {
        width: 100% !important;
        max-width: 100% !important
    }

    .formbox {
        float: left;
        margin-right: 0 !important;
        max-width: 100% !important;
        width: 100%
    }

    .content {
        padding-left: 0 !important
    }

    .content-section h1 {
        font-size: 30px;
        font-size: 22px;
        max-width: 100% !important;
        padding: 14px 0
    }

    .thumbnail_box {
        float: none;
        text-align: center;
        width: 100% !important
    }

    .annuities-info .thumbnail_box {
        margin-right: 0 !important
    }

    .annuities-info .blog-content {
        float: none;
        width: 100% !important
    }

    .footer-decription {
        color: #a6a6a6;
        font-size: 12px;
        margin-bottom: 10px !important;
        padding-left: 0 !important;
        text-align: center;
        width: 100% !important
    }

    .p-main-text-main-heading {
        color: #002e5c;
        font-size: 16px;
        font-weight: 700;
        text-align: center
    }
}

@media (max-width: 720px) {
    .logo-trust {
        float: none;
        padding-right: 0;
        text-align: center !important;
    }

    .trust-logos-img {
        width: 100px;
    }
}

@media (max-width: 675px) {
    .income-txt-mrgin12 {
        text-align: center;
        width: 100%;
    }

    .p-form-inputbox input[type="text"] {
        width: 100%
    }

    .p-form-inputbox select {
        width: 100%
    }

    .p-form-label {
        text-align: left
    }

    .p-form-inputbox select {
        width: 100%
    }

    .p-logo-box2 {
        display: block;
        margin-bottom: 15px
    }

    .p-certified-logos {
        padding-left: 0
    }

    .p-quote-btn {
        width: 100%;
        font-size: 20px
    }
}

@media (max-width: 530px) {
    .p-container {
        width: 100%
    }

    .bullet-points {
        padding-left: 55px !important
    }

    .p-form-inner {
        width: 75% !important
    }

    .content-section h1 {
        color: #002046;
        font-size: 20px !important;
        font-weight: 700;
        margin: 0 auto 45px;
        max-width: 650px;
        padding-bottom: 5px;
        padding-top: 25px;
        text-align: center
    }

    .bullet-points ul li a {
        font-size: 16px !important;
        color: #000 !important
    }

    .slug {
        color: #4069a4;
        float: right;
        font-size: 18px !important;
        font-style: normal;
        padding-right: 10px !important;
        padding-top: 24px
    }

    .complete-receive {
        font-size: 20px !important;
        line-height: 24px !important;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 20px
    }
}

@media (max-width: 500px) {
    .p-form-inner {
        width: 70% !important
    }

    .p-form-label-box {
        width: 100% !important
    }
}

@media (max-width: 495px) {
    .thumbnail_box {
        margin-bottom: 10px
    }

    .bullet-points {
        padding-bottom: 20px
    }

    .p-footer-navigation ul li {
        color: #2D2D2D;
        display: inline-block;
        font-size: 14px;
        padding: 7px 0;
        text-align: left;
        border: 0;
        margin-right: 10px;
    }

    .bullet-points ul li {
        list-style-image: url(../images/listing-small.png)
    }

    .p-form-heading {
        font-size: 20px;
        padding: 0 2% !important
    }

    .p-form-heading-sub {
        font-size: 12px
    }

    .p-trusted-source {
        margin-left: 0;
        width: 100% !important;
        text-align: center !important;
        font-size: 12px !important
    }

    .p-contact-add {
        width: 100% !important;
        text-align: center
    }

    .p-arrow-img > img {
        width: 40px;
        margin-left: 10px
    }

    .p-customer-text {
        float: none !important
    }

    .m-hide {
        display: none
    }

    .p-customer-img-box {
        padding: 20px 0
    }

    .complete-receive {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px
    }

    .p-container {
        padding: 0 2% !important;
        width: 90%
    }

    .content-section {
        padding: 0 10px
    }

    /*.banner-col {background:rgba(0, 0, 0, 0) url(../images/sky.png) no-repeat scroll right top / 100% 350px}*/
    .desk-logo {
        width: 250px;
        display: inline-block
    }

    .content {
        margin-top: 0 !important
    }

    .content-section h1 {
        margin: 0 auto 20px
    }

    .content-section h1 span {
        line-height: 35px;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .slug {
        float: none;
        display: block;
        text-align: center;
    }
    .trust-logos-img {
        width: 71px;
    }
}

@media (max-width: 480px) {
    .p-wrapper {
        width: 98%
    }

    .p-why-choose {
        background-position: center bottom;
        text-align: center
    }

    .p-tick-box {
        padding-left: 65px
    }

    .p-certified-img {
        text-align: center
    }

    .p-why-choose2 {
        background-position: center bottom;
        text-align: center
    }

    .p-customer-img-box {
        padding: 20px 57px
    }

    .p-quote-btn {
        width: 100%;
        font-size: 20px
    }

    .review-form {
        margin-top: 10px !important
    }

    .value-privacy {
        margin-bottom: 20px;
        padding-right: 0;
        text-align: left
    }

    .free-annuity {
        font-size: 20px !important
    }

    .desk-logo {
        display: none
    }

    .mobo-logo {
        display: inline-block;
        width: 250px
    }

    .mobo-btn {
        display: inline-block;
        width: 100%
    }

    .mobo-btn a {
        background: red none repeat scroll 0 0;
        border: 3px solid #fff;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        margin: 6px 0;
        padding: 3px 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%
    }

    .mobo-btn a:hover {
        background: #d60000 none repeat scroll 0 0;
        text-decoration: none;
        color: #fff
    }
}

@media (max-width: 430px) {
    .review-form {
        margin-top: 10px !important;
        padding-left: 0 !important
    }
}

@media (max-width: 425px) {
    .p-quote-btn {
        background: linear-gradient(to bottom, #FEB039 0%, #F9A633 19%, #E37B19 75%, #DC6D10 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 3px solid #914716;
        border-radius: 8px;
        box-shadow: 3px 7px 5px rgba(0, 0, 0, 0.52);
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin: 0 auto;
        text-align: center;
        text-shadow: -1px 0 #DE7113, 0 1px #DE7113, 1px 0 #DE7113, 0 -1px #DE7113;
        width: 100%
    }

    .p-quote-main {
        text-align: center
    }

    .p-container {
        width: 100%
    }

    .review-form {
        margin-top: 150px !important;
        padding: 10px !important
    }

    .p-container {
        padding: 10px !important;
        width: 95%
    }

    .p-quote-main {
        text-align: center
    }

    .p-wrapper {
        font-family: 'PT Sans', sans-serif
    }

    .p-tick-box {
        padding-left: 30px
    }

    .p-footer-logo {
        margin-bottom: 5px
    }
}

@media (max-width: 390px) {
    .trust-logos-img {
        width: 71px;
    }
}

@media (max-width: 380px) {
    .p-customer-img {
        text-align: center;
        float: none
    }

    .p-quote-btn {
        background: linear-gradient(to bottom, #FEB039 0%, #F9A633 19%, #E37B19 75%, #DC6D10 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 3px solid #914716;
        border-radius: 8px;
        box-shadow: 3px 7px 5px rgba(0, 0, 0, 0.52);
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        font-weight: 700;
        margin: 0 auto;
        text-align: center;
        text-shadow: -1px 0 #DE7113, 0 1px #DE7113, 1px 0 #DE7113, 0 -1px #DE7113;
        width: 100%
    }

    .p-quote-main {
        text-align: center
    }

    .p-wrapper {
        font-family: 'PT Sans', sans-serif
    }

    .p-annuiut-clients-inner-imgs {
        display: block;
        text-align: center;
        margin-bottom: 5px
    }

    .p-customer-img-box {
        text-align: center
    }

    .p-form-left-heading-box {
        border-top-right-radius: 5px
    }
}

.tooltip-custom {
    position: absolute;
    top: 0;
    right: -190px;
    z-index: 999;
    background: #002e5f;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    display: none;
}

.cg-main-logo:hover .tooltip-custom {
    display: block
}

.tooltip-custom:after {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid #002e5f;
    border-bottom: 10px solid transparent;
    content: "";
    left: -15px;
    position: absolute;
}

@media screen and (max-width: 490px) {
    .tooltip-custom {
        background: #002e5f none repeat scroll 0 0;
        border-radius: 5px;
        color: #fff;
        display: none;
        margin: 0 -125px 0 0;
        padding: 10px;
        position: absolute;
        right: 50%;
        top: 50px;
        width: 250px;
        z-index: 999;
    }

    .tooltip-custom::after {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #002e5f;
        content: "";
        left: 50%;
        position: absolute;
        top: -25px;
    }

    .cg-menu-below .logo a {
        line-height: auto !important;
    }
}

.banner-col {
    z-index: 666;
    position: relative;
    font-family: 'PT Sans', sans-serif;
}

.banner-section {
    max-height: 586px;
    max-width: 1000px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.banner-section > img {
    width: 100%;
}


/***********************************************1016***********/
.formbox {
    margin-top: -230px;
}

@media (max-width:930px) {
    .bullet-points ul li a {
        font-size: 16px !important;
    }
}

@media (max-width:755px) {
    .receive-form-col {
        display: block !important;
        float: none !important;
        margin-bottom: 30px !important;
        max-width: inherit !important;
        width: 100% !important;
    }

    .formbox {
        display: block !important;
        float: none !important;
        margin-left: 0 !important;
        max-width: inherit !important;
        width: 100% !important;
        margin-top: 0;
    }

}
@media (max-width:1010px) {


}



.formbox-inner {
    background: #4069a4 none repeat scroll 0 0;
    border: 2px solid #4069a4;
    border-radius: 8px;
}
.logo-trust .trust-logos-img:first-child {
    margin-left: 0;
    padding-left: 0;
}
